* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(93, 0, 206);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 300px;
  height: 220px;
  border-radius: 20px;
  padding: 50px 25px;
  background: rgb(245, 245, 255);
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.username {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(138, 43, 226);
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
  padding-left: 20px;
}
.password {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(138, 43, 226);
  background-color: rgb(255, 255, 255);
  color: rgb(34, 34, 34);
  padding-left: 20px;
}
.log {
  width: 60%;
  margin: 0 auto;
  height: 30px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(138, 43, 226);
  color: rgb(255, 255, 255);
  transition: all ease 0.2s;
  &:hover {
    color: rgb(34, 34, 34);
    border: 2px solid rgb(138, 43, 226);
    background-color: rgb(255, 255, 255);
  }
}
